/* CSS declarations go here */
* {
    margin: 0;
    padding: 0;
}

div#map {
    width: 100vw;
    height: 100vh;
}

div.popup {
    height: 65vh;
    width: 80vw;
    background-color: white;
    position: fixed;
    top: 10vh;
    left: 10vw;
    display: block;
}

i.marker {
    shape-rendering: crispEdges;
}


.close-button {
    bottom: 0;
    padding: 0;
    border: none;
    background: none;
}

div.good figure span svg path {
    fill: puprle!important;
}

div.bad figure span svg path {
    fill: orange!important;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  position:relative;
}

.figure {
  text-align: center;
}

#megaphone span svg {
  width: 100%;
  height: 100%;
}
