/* CSS declarations go here */
* {
    margin: 0;
    padding: 0;
}

div#map {
    width: 100vw;
    height: 100vh;
}

div.popup {
    height: 65vh;
    width: 80vw;
    background-color: white;
    position: fixed;
    top: 10vh;
    left: 10vw;
    display: block;
}

i.marker {
    shape-rendering: crispEdges;
}


.close-button {
    bottom: 0;
}

div.good span svg path {
    fill: #ff00ff!important; /*purple*/
}

div.bad span svg path {
    fill: #ffbf00!important; /*ornage*/
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  position:relative;
}

.figure {
  text-align: center;
}

#megaphone span svg {
  width: 100%;
  height: 100%;
}

div.good #megaphone span svg path {
    fill: #00d400!important; /*green*/
}

div.bad #megaphone span svg path {
    fill: #ff0000!important; /*red*/
}
